/* Universal */
html {
  overflow-y: scroll;
}

.navbar {
  position: inherit !important;
}

.content-container {
  //width:700px !important;
}

/* Header */
.loginas {
  line-height: 34px;
}
.rolename {
  color:#5cb85c;
}
.navbar-default {
  background-color:#2D3241 !important;
}
.navbar.navbar-default li a {
  color: #fff !important;
}
.navbar-default .navbar-brand {
  color: #fff !important;
}
.navbar-form .dropdown-menu li a {
  color: #000 !important;
}

/* Footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}
footer a {
  color: #555;
}
footer a:hover {
  color: #222;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 10px;
}

/* Tables */
td.last {
  width:270px;
}
td.last a {
  float:right;
  margin-left:5px;
}
td {
  border-top:none !important;
}
tbody tr {
  border-top:1px solid #ddd;
}

/* Buttons */
.btn-default a, .btn-default a:visited {
  color: #333 !important;
}
.btn a, .btn a:visited {
  color: #fff;
  text-decoration: none;
}

/* Login layout */
.loginstyle {
  margin-bottom: 10px;
}
.loginfields input.form-control {
  width:220px !important;
}
.loginfields .input-group-addon {
  width: 100px;
  text-align: left;
}
.newpassword {
  display: none;
}
i.imessage {
  font-size:12px;
}

/* Modal styling */
.modal-body .field {
  margin-bottom:10px;
}
.modal-body .field textarea.form-control {
  width:80%;
  height:100px;
}
.input-width {
  max-width:400px;
}
.combo-width {
  max-width:200px;
}
 

/* First user login notice */
.first-login-notice {
  width: 185px;
  border-radius:4px;
  background:#dff0d8;
  border: 1px solid #d6e9c6;
  color: #3C763D;
  padding:0 8px;
  min-height:60px;
  box-shadow: -1px 1px 3px #979797;
}

.datepicker {
  z-index:999999999 !important;
}
